.jumbotron{
  background-size: cover;
  background-position: center center;
  padding: 200px;

}
.logo img{
  height: 30px;
  padding-right: 30px;
}

.jurusan{
  background-color: #608BC1;
}
.sekolah img{
  height: 900px;
  padding-right: 150px;
}